.bucket-container {
    width: 300px;
}

.bucket-img {
    width: 300px;
    margin: 0 auto 20px auto;
    position: relative;
}

.bucket-img > img {
    width: 300px;
}

.bucket-water {
    position: absolute;
    bottom: 0;

    /*height: 350px - max 265-shutoff 45-critical 0 - failure*/

    width: 100%;
    margin-bottom: 120px;
    transition: height .2s;

    z-index: -1;

    background-color: #C2F6FF;
}

.bucket-parameters-wrapper {
    width: 300px;
    margin: auto;
}

.bucket-parameters > div {
    margin-bottom: 20px;
}

.bucket-parameters > hr {
    margin-top: -10px;
    margin-bottom: 15px;
    background-color: #00000047;
    border: none;
    height: 1px;
}
